<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2018/11/14/23/03/sunset-3816247__480.jpg"
                alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Imagen de prueba</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae eos ipsum ut dolorum ipsa tempore
                    eligendi fugit, debitis porro ad consequuntur veritatis nobis? Impedit ad beatae nesciunt. Iure,
                    maiores amet?</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2018/11/14/23/03/sunset-3816247__480.jpg"
                alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Imagen de prueba</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae eos ipsum ut dolorum ipsa tempore
                    eligendi fugit, debitis porro ad consequuntur veritatis nobis? Impedit ad beatae nesciunt. Iure,
                    maiores amet?</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2018/11/14/23/03/sunset-3816247__480.jpg"
                alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Imagen de prueba</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae eos ipsum ut dolorum ipsa tempore
                    eligendi fugit, debitis porro ad consequuntur veritatis nobis? Impedit ad beatae nesciunt. Iure,
                    maiores amet?</p>
            </div>
        </div>
    </div>
</div>